QPushButton {
    border: 1px solid lightgray;
    background: rgb(230,230,230,60);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
}

QPushButton:hover {
    border-color: gray;
    background: rgb(230,230,230,200);
}

QPushButton:pressed {
    border-color: gray;   
    background: rgba(179, 179, 179, 220);
    padding-left: 5px;
    padding-top: 5px;
}